body{
    margin: 0;
    padding: 0;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bg1.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#title{
    text-align: center;
    font-size: 50px;
}

#inputText{
    width: 300px;
    height: 45px;
    border: 1px solid rgb(242, 15, 15);
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border: 2px solid rgb(248, 6, 6);
    border-radius: 15px;
}

#addToDo{
    width: 80px;
    height: 45px;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: rgb(14, 249, 26);
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#addToDo:active{
    background: blue;
    color: #fff ;
}

#clearToDo{
    width: 100px;
    height: 45px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#clearToDo:active{
    background: black;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.to-dos{
    margin-top: 25px;
}
